@charset "UTF-8";

body {
    background-image: linear-gradient(to top, --verde, --lilas);
}

section#login {
    width: 80vw;
}

section#login > div#imagem {
    /* imagem à esquerda */
    float:left;
    width: 30%;
    height: 100%;
}

section#login > div#formulario {
    /* formulário à direita */
    float: right;
    width: 70%;
}
